body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
}

.display-wrapper {
  display: flex;
  flex-direction: column;
}

.display-header {
  display:flex;
  justify-content: space-between;
}

.canvas {
  display: flex;
  align-items: center;


  border: 2px solid black;
  height: 140px;
  width: 500px;
  margin: 10px 0px;
}

.canvas > .shape {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 0 10px;
  background-color: blue;
}

.circle {
  border-radius: 50px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.error {
  border: 3px solid red;
}
